---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Ultrawide class to be supah wide compared to the wide class
.ultrawide {
    .page {
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        width: 100%;
        @include breakpoint($large) {
            padding-left: 0;
        }
        @include breakpoint($x-large) {
        padding-left: 0;
        }
    }
    .page__related {
        @include breakpoint($large) {
            padding-left: 0;
        }
        @include breakpoint($x-large) {
            padding-left: 0;
        }
    }
}
.misc {
    .page {
        .feature__wrapper .archive__item-title {
            word-wrap: anywhere
        }
    }
}